{% extends 'polls/base.html' %}

{% block content %}
    <body>
        {% if client_list %}
            <div class="table-wrapper">
                <h2></h2>
                <table class="fl-table">
                    <thead class="responsive-table">
                        <tr class="table-header">
                            <th class="col col-1">Id</th>
                            <th class="col col-2">Raison Sociale</th>
                            <th class="col col-3">Adresse 1</th>
                            <th class="col col-4">Adresse 2</th>
                            <th class="col col-5">CP Ville</th>
                            <th class="col col-6">Interlocuteur</th>
                            <th class="col col-7">Téléphone</th>
                            <th class="col col-8">Email</th>
                        </tr>
                    </thead>

                {% for c in client_list %}
                    <tbody>
                        <tr class="table-row">

                            <td>{{ c.id }}</td>
                            <td>{{ c.raison_sociale }}</td>
                            <td>{{ c.adresse1 }}</td>
                            <td>{{ c.adresse2 }}</td>
                            <td>{{ c.cp_ville }}</td>
                            <td>{{ c.interlocuteur }}</td>
                            <td>{{ c.telephone }}</td>
                            <td>{{ c.mail }}</td>
                            <td><a href="{% url 'polls:client_update' c.id %}">Update</a></td>
                            <td><a href="{% url 'polls:client_delete' c.id %}">Delete</a></td>

                        </tr>

                    </tbody>
                {% endfor %}

                </table>
            </div>

        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </body>
        <a  href="{% url 'polls:client_create' %}">
    Nouveau client
    </a>

{% endblock %}
